.Modal {
  position: fixed;
  z-index: 999;
  width: 70%;
  left: 15%;
  top: 30%;
  padding: 1.2rem;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px #000000;
  transition: all 0.3s ease-out;
}

.Modal.Show {
  opacity: 1;
  transform: translateY(0);
}

.Modal.Hide {
  opacity: 0;
  transform: translateY(-100vh);
}

@media (min-width: 600px) {
  .Modal {
    width: 400px;
    left: calc(50% - 250px);
  }
}
