@import '../../index.css';

.Summary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45rem;
  padding: 0.5rem;
  list-style: none;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0 2px 3px var(--bg-dark);
  background-color: var(--bg-light);
}

.Summary li {
  flex-basis: 33%;
  text-align: center;
}

.Summary .MinContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Summary .DeleteIcon {
  height: 1.5rem;
  margin-left: 3rem;
  cursor: pointer;
}

@media (max-width: 600px) {
  .Summary {
    padding: 0.1rem 0 0.1rem 0;
    width: 100%;
  }

  .Summary .MinContainer {
    align-items: center;
    justify-content: center;
  }

  .Summary .DeleteIcon {
    margin-left: 0.5rem;
  }
}
