.Layout {
  display: grid;
  height: 100%;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
}

.Layout header {
  grid-column: 1 / 13;
  grid-row: 1 / 2;
}

.Layout article {
  grid-column: 1 / 13;
  grid-row: 2 / 3;
}

.Layout footer {
  grid-column: 1 / 13;
  grid-row: 3 / 4;
}
