@import '../../index.css';

.Toggler {
  display: flex;
  position: absolute;
  align-items: center;
  height: 100%;
  left: 3%;
  cursor: pointer;
}

.Toggler span,
.Toggler span::before,
.Toggler span::after {
  display: block;
  position: relative;
  width: 2em;
  height: 3px;
  border-radius: 2px;
  background: var(--blog-blue);
}

.Toggler span::before,
.Toggler span::after {
  position: absolute;
  content: '';
}

.Toggler span::before {
  top: 7px;
}

.Toggler span::after {
  bottom: 7px;
}
