@import '../../../index.css';

.Button {
  display: inline;
  color: #333333;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  min-width: 80px;
  padding: 0 0.5rem 0 0.5rem;
  outline: none;
  border: 1px solid #000000;
  border-radius: 1rem;
  background-color: transparent;
  text-transform: uppercase;
}

.Button:hover {
  background-color: var(--bg-grey);
}

.Button:disabled {
  color: var(--bg-grey);
  cursor: not-allowed;
}

.Warning {
  color: #cc0033;
}

@media (max-width: 600px) {
  .Button {
    padding: 0 0.2rem 0 0.2rem;
  }
}
