@import '../../index.css';

.Footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  color: var(--font-light);
  height: 18rem;
  margin-top: 2rem;
  background-color: var(--bg-dark);
  background-image: url(../../assets/footer-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Footer ul li {
  text-align: center;
  list-style: none;
  margin: 1rem 0 1rem 0;
}

.Footer img {
  width: 14rem;
  height: 14rem;
  padding: 2rem;
  border-left: 0.1rem solid var(--font-light);
  border-right: 0.1rem solid var(--font-light);
}

@media (max-width: 600px) {
  .Footer {
    flex-direction: column;
    height: auto;
    padding: 0.5rem 0 0.5rem 0;
    font-size: smaller;
  }

  .Footer ul li {
    list-style: none;
    margin: 0;
  }

  .Footer img {
    width: 6rem;
    height: 6rem;
    padding: 0;
    border: 0;
  }
}
