.Input {
  width: 100%;
  padding: 0.8rem;
  letter-spacing: 2px;
  box-sizing: border-box;
}

.Label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.InputElement {
  display: block;
  width: 100%;
  font: inherit;
  outline: none;
  margin-bottom: 0.3rem;
  padding: 0.5rem 0.7rem;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  background-color: #ffffff;
}

.InputElement:focus {
  outline: none;
  background-color: #cccccc;
}

.Invalid {
  border: 1px solid#cc0033;
  background-color: #e4caca;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  margin-top: 1rem;
}

.ValidationError {
  color: #cc0033;
  margin: 0.5rem 0;
}
