.Quantity {
  display: flex;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.Quantity input {
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 0;
  padding-left: 8%;
  border: 1px solid #eee;
}

.Quantity input:focus {
  outline: 0;
}

.QuantityNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 0 !important;
}

.QuantityButton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
  border-left: 1px solid #eee;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.QuantityButton.QuantityUp,
.QuantityButton.QuantityDown {
  width: 1rem;
  border: 1px solid #eeeeee;
}
