:root {
  --blog-blue: #499faa;
  --bg-dark: #282a2b;
  --bg-grey: #f1f7f3;
  --bg-light: #ffffff;
  --font-dark: #3d3d3d;
  --font-grey: #747474;
  --font-light: #f1f7f3;
}

@font-face {
  font-family: PTSansRegular;
  src: url('./assets//fonts/PTSans-Regular.ttf');
}

@font-face {
  font-family: PTSansBold;
  src: url('./assets//fonts/PTSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: PTSansItalic;
  src: url('./assets//fonts/PTSans-Italic.ttf');
}

@font-face {
  font-family: GreatVibes;
  src: url('./assets//fonts/GreatVibes-Regular.ttf');
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding: 0;
  margin: 0;
}

body {
  font: 15px/22px PTSansRegular, Arial, Helvetica, sans-serif;
  color: var(--font-grey);
}
