.Admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}
