@import '../../index.css';

.Header {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  z-index: 999;
  background-color: var(--bg-grey);
}

.Header ul {
  display: flex;
}

.Header li {
  list-style-type: none;
  margin: 1rem 1rem;
}

.Header li a {
  color: var(--font-dark);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.Header li a:hover {
  font-size: larger;
  opacity: 0.5;
}

.Header img {
  width: 1.2rem;
  height: 1.2rem;
}

.Title {
  font-family: GreatVibes, PTSansItalic, Arial;
  font-size: 2.5rem;
  text-align: center;
  line-height: 4rem;
  color: var(--font-light);
  margin-top: 4rem;
}

.GrandTotal {
  font-family: PTSansBold;
  font-size: larger;
  text-shadow: 0.2rem 0.2rem 0.1rem rgba(150, 150, 150, 0.7);
}

@media (max-width: 600px) {
  .Header .Logos {
    display: none;
  }

  .Header li {
    list-style-type: none;
    margin: 0.5rem;
  }

  .GrandTotal {
    margin-bottom: 0.5rem;
  }

  .Title {
    font-size: 1.5rem;
    line-height: 3rem;
    margin-top: 5rem;
  }
}
