@import '../../index.css';

.Header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg-grey);
}

.Header ul {
  display: flex;
}

.Header li {
  list-style-type: none;
  margin: 1rem 1rem;
}

.Header li a {
  color: var(--font-dark);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.Header li a:hover {
  opacity: 0.5;
  font-size: larger;
}

.Header img {
  width: 1.2rem;
  height: 1.2rem;
}

.Title {
  text-align: center;
  font-family: GreatVibes, PTSansItalic, Arial;
  font-size: 2.5rem;
  line-height: 5rem;
  margin: 2rem;
}

@media (max-width: 600px) {
  .Header {
    justify-content: space-around;
  }

  .Title {
    font-size: 1.5rem;
    line-height: 3rem;
  }
}
