.NavigationLink {
  list-style-type: none;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.NavigationLink a {
  color: var(--font-dark);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}

.NavigationLink a:hover {
  font-size: larger;
  opacity: 0.5;
}

.EnabledLink {
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}

.DisabledLink {
  pointer-events: stroke;
  cursor: not-allowed;
  opacity: 0.5;
}

@media (max-width: 600px) {
  .NavigationLink {
    margin: 0.4rem;
  }
}
